# 1. Secrets
.env
.env.*
*.key
*.pem
*.pub
id_rsa

# 2. Terraform related
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# 3. Python related
__pycache__/
*.py[cod]
venv/
.venv/
env/

# 4. Data folders (Exclude local test data)
postgres_data/
minio_data/
data/*.csv
data/*.parquet
data/*.json

# 5. OS and IDE configuration files
.DS_Store
.idea/
.vscode/
